<div style="width: 100%; height: 100%;">
    <div id="data" style="visibility: hidden;display: none">{{ data }}</div>
    <div id="editor"></div>
    <div style='position: absolute; left: 20px; top: 50px; bottom: 0; overflow: auto; width: 650px'>
        <h1 id="title" style="font-size: 25px; padding-top: 10px;">COUNTY GOVERNMENT OF MOMBASA</h1>
        <h2 id="provisional" style="font-size: 20px; margin: 30px 40px; padding-top: 25px;">PROVISIONAL SINGLE BUSINESS
            PERMIT</h2>
        <div id="permit_duration" style="float: right; margin-top: 15px; font-size: 18px; font-weight: 600;">
            <p>Single Permit &nbsp; {{ permit_id }}</p>
            <p>For the Period &nbsp; {{ verification_cycle }} days</p>
        </div>
        <div id="table1" style="width:99%; height: 150px; border: solid thin; margin: 150px 0 0;font-size: 10px;">
            <div style="width:55%;height:100%;float: left;">
                <p style="width:100%;font-weight: 700;padding-left: 5px;">
                    Mombasa County Grants this Business Permit to</p>
                <div style="width: 100%;height:1px;background-color:black;"></div>
                <p style="width:100%;padding-left: 5px;">Applicant Business Commercial Name</p>
                <p style="width:100%;font-weight: 700;padding-left: 5px;" id="business_name">{{ business_name }}</p>
                <div style="width: 100%;height:1px;background-color:black;"></div>
                <p style="padding-left: 5px;">Plot Number &nbsp; <b>{{ plot_number }}</b></p>
            </div>
            <div style="width:1px;display:block;float:left;height:100%;background-color:black;"></div>
            <div style="width:42%;float: left;margin-left: 10px;">
                <p>Business ID</p>
                <div style="height: 5px;"></div>
                <p style="font-weight: 700;">{{ business_id }}</p>
            </div>
        </div>
        <div id="table2" style="width:99%; height: 130px; border: solid thin; margin: 20px 0 0;font-size: 12px;">
            <p style="width:100%;padding-left: 5px;">To Engage in the Area of
            </p>
            <p style="width:100%;font-weight: 700;padding-left: 5px;">
                {{ market_id }} - {{ market_name }}</p>
            <div style="width: 100%;height:1px;background-color:black;"></div>
            <p style="padding-left: 5px;">Business Activity Description</p>
            <p style="width:100%;font-weight: 700;padding-left: 5px;">
                {{ activity }}</p>
        </div>
        <div id="table3" style="width:99%; height: 35px; border: solid thin; margin: 20px 0 0;font-size: 12px;">
            <div style="width:75%;height:100%;float: left;">
                <p style="width:100%;font-weight: 700;padding-left: 5px;">
                    Having paid a Business Permit Fee of KSH</p>
            </div>
            <div style="width:1px;display:block;float:left;height:100%;background-color:black;"></div>
            <div style="width:20%;float: left;margin-left: 10px;">
                <p>{{ permit_fee }}</p>
            </div>
        </div>
        <div id="table4" style="width:100%; height: 115px; border: solid thin; margin: 20px 0 0;font-size: 12px;">
            <div style="width:100%;float: left;">
                <p style="width:100%;font-weight: 700;padding-left: 5px;font-size: 11px;">
                    Business under this Permit shall exclusively be conducted at the address as indicated below:</p>
                <div style="width: 100%;height:1px;background-color:black;"></div>
                <p style="width:100%;padding-left: 5px;">
                    Email address &nbsp; <b style="margin-right: 22%">{{ email_address }}</b>Plot No: &nbsp;
                    <b>{{ plot_number }}</b></p>
                <div style="width: 100%;height:1px;background-color:black;"></div>
                <p style="width:100%;padding-left: 5px;">
                    Business Physical Address &nbsp; <b>{{ business_address }}</b></p>
            </div>
        </div>
        <div id="issue_date" style="margin: 20px 0 0;font-size: 16px;"></div>
        <div id="issue_time" style="margin: 20px 0 0;font-size: 16px;"></div>
        <div id="officer_section" style="width:45%;height:115px;margin: 20px 0 0;font-size: 12px;">
            <div style="width:100%;float: left;">
                <p style="width:100%;font-weight: 700;padding-left: 5px;">
                    Name of the officer issuing this permit</p>
                <div style="width:85%;height:1px;background-color:black;margin-top:20px;margin-left: 5px;"></div>
                <p style="width:100%;padding-left: 5px;font-weight:700;">For Chief Licensing Officer</p>
                <p style="width:100%;padding-left: 5px;font-weight:700;">County Government of Mombasa</p>
            </div>
        </div>
        <div id="notice" style="font-size: 12px">
            <p><b>Notice:</b> Granting this Permit DOES NOT EXEMPT the business
                identified above from
                complying with current regulations or Health and Safety</p>
            <p>as established by the Government of Kenya and the
                COUNTY GOVERNMENT OF MOMBASA</p>
        </div>
        <button id="clearBtn" onclick="removeDiv('#insert-here');" style="margin-bottom: 10px;">Clear</button>
        <button id="generateBtn" onclick="generatePDF()" style="margin-bottom: 10px;">Generate PDF</button>
        <button id="downloadBtn" onclick="downloadPDF()" style="display: none; margin: 20px 0;">Download
            PDF</button>
        <button id="hideBtn" onclick="hidePDF()" style="display: none; margin: 20px 0;">Remove PDF</button>
    </div>
</div>